@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");

:root {
  --theme-background-color: #1d1d1d;
  --theme-nav-main-color: #00a9ff;
  --theme-nav-subtext-color: white;
  --theme-nav-background-color: #181818;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  cursor: none;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  background-color: var(--theme-background-color);
  height: 100%;
}

#root {
  height: 100%;
}
